/* .title {
    font-size: 100px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 50px;
    }
    
} */

/* Header */


/* Carousel */

body {
    background-color: #151937;
    color: #fff;
}

.text-gradient {
    background: linear-gradient(to right, #ffa7a9, #ff5ea3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}